*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header, main, footer {
    max-width: 500px;
    margin:0 auto;
}

header {
    margin: 1rem auto;
    border: 3px solid rgb(25, 4, 118);
    padding: .5rem;
    background-color: rgb(245, 168, 26);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 80%;
    height: auto;
}
/* h2{
    display:grid;
    grid-template-columns: 100 px;
    grid-column: 2;
} */

footer{
    margin: 1rem auto;
    border: 3px solid rgb(25, 4, 118);
    padding: .5rem;
    background-color: rgb(138, 154, 228);
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
#currentdate {
	color: rgb(25, 4, 118);
}

h2 {
    padding-left: 1rem;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    border-top: 1px solid rgb(178, 177, 177);
    border-bottom: 1px solid rgb(178, 177, 177);

}