@media only screen and (min-width: 1040px) {
    header{
        display: grid;
        align-items: center;
        grid-template-columns: 10% 70% 20%;
        grid-template-rows: 1fr 1fr;
    }
    header picture {
        align-items: center;
        justify-items: center;
        grid-column: 1/3;

    }
    header picture img {
        width: 100%;
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        border-radius: 10px 10px 10px 10px;
    }
    header #media{
        display: flex;
        padding: 5%;  
        justify-content: center;
    }

    header div .media{
        display: inline-block;
        grid-column: 3;
        background-color: white;
        border-radius: 30%;

    }
    header #weather{
        display: flex;
        grid-column: 1/3;
        grid-row: 2;
        align-items: center; 
    }

    header #weather .weather-icon{
        width: 20%;
    }
    /*main{
        display: grid;
        grid-template-rows:3fr 1fr;
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
        max-height: 800px;
        justify-items: center;
    }*/

    main .slideshow-container{
        grid-row: 1;
        width: 800px;
        height: 600px;
        border-radius: 30px;

    }
    .slideshow-img{
        border-radius: 10%;
    }
    .home{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 2fr;
        justify-items: center;
        align-items: center;

    }
    main .welcome{
        grid-row: 2;
        max-width: 70%;
    }


    nav{
        display: flex;
        max-width: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .navigation{
        display: inline-flex;
        align-items: center;
        justify-items: center;

    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
        display: block;
        margin: 1rem;
        width: max-content;
    }
    .navigation li a{
        color: black;
    }
    footer{
        display: block;
        align-items: center;
    }   
    /* About page css*/
    #about{
        grid-column: 4/8;
    }
    /*rates*/
    main.rates{
        display: grid;
        grid-template-rows: 6fr 1fr;
        justify-items: center;
        align-items: center;
    }
    li #img1 img{
        grid-column: 1;
    }
    li #img2 img{
        grid-column: 2;
    }
    li #img3 img{
        grid-column: 1;
    }
    li #img4 img{
        grid-column: 2;
    }
    li #img1 img{
        grid-column: 1;
    }
    li #img1 p{
        grid-column: 2;
    }
    li #img2 p{
        grid-column: 1;
    }
    li #img3 p{
        grid-column: 2;
    }
    li #img4 p{
        grid-column: 1;
    }
    li #img5 p{
        grid-column: 2;
    }
    .examples{
        justify-items: center;
    
    }
    .examples li picture{
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #DEFCF9;
        align-items: center;
        justify-items: center;
    }
    li img{
        border-radius: 10%;
        margin: 1rem;
        grid-row: 1;
        width: 80%;
    }
    li p{
        margin: 1rem;
        grid-row: 1;
        max-width: 80%;

    }
    li{
        list-style-type: none;
        width: 100%;
    }
    /* Specials*/


    /* join*/
    #join{
        display: block;
        grid-column: 2/7;

    }
    main.about #about{
        text-align: center;
    }
    main.join{
        width: 70%;
        background-color: #DEFCF9;
        border-radius: 30px;
        margin-bottom: 2em;

    }
    main.contact{
        width: 70%;
        background-color: #DEFCF9;
        border-radius: 30px;
        margin-bottom: 2em;
    }
    main.contact #contactInfo{
        display:block;
        width: 50%;
    }
    main.contact fieldset{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main.contact fieldset .top{
        grid-column: 1;
    }
     main.contact fieldset .text{
        grid-column: 2;
    }



    /* Supplies */
    main .cards{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 80%;
    }
}