@media only screen and (min-width: 60em) {
    body{
        line-height: 1.5;
        width: 100%;
    }    
    header{
        border-radius: 10px 10px 0px 0px;
        display: grid;
        align-items: center;
        grid-template-columns: 20% 70% 10%;
        width: 100%;
    }
    header picture {
        align-items: center;
        justify-items: center;
    }
    header img {
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        border-radius: 10px 10px 10px 10px;
    }
    header #company{
        grid-column: 2;
        max-height: 150px;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    header div #org{
        font-size: 3rem;
        background-color: #DEFCF9;

    }
    header div .media{
        grid-column: 3;
        background-color: #362FD9;
    }
    header #media{
        display: flex;
        max-width: 100%;   
    }
    main{
        display: grid;
        grid-template-columns: 10% 45% 45%;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        margin-bottom: 1rem;

    }
    main .welcome{
        grid-row: 2;
    }
    nav{
        display: flex;
        max-width: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .navigation{
        display: inline-flex;
        align-items: center;
        justify-items: center;

    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
        display: block;
        margin: 1rem;
        width: max-content;
    

    }
    .navigation li a{
        color: black;
    }
  footer{
    display: block;
    align-items: center;
}   
    /* About page css*/
    #about{
        grid-column: 4/8;
    }
    /*rates*/
    #rates{
        display: block;
        grid-column: 2/8;
        justify-items: center;
        align-items: center;
    }
    li #img1 img{
        grid-column: 1;
    }
    li #img2 img{
        grid-column: 2;
    }
    li #img3 img{
        grid-column: 1;
    }
    li #img4 img{
        grid-column: 2;
    }
    li #img1 img{
        grid-column: 1;
    }
    li #img1 p{
        grid-column: 2;
    }
    li #img2 p{
        grid-column: 1;
    }
    li #img3 p{
        grid-column: 2;
    }
    li #img4 p{
        grid-column: 1;
    }
    li #img5 p{
        grid-column: 2;
    }
    .examples{
        display: grid;
        justify-items: center;
        max-width: 100%
        ;
    
    }
    .examples li picture{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        background-color: #DEFCF9;
        align-items: center;
        justify-items: center;
        max-width: 100%;
    }
    li img{
        border-radius: 70px;
        margin: 1rem;
        grid-row: 1;

    }
    li p{
        margin: 1rem;
        grid-row: 1;
        max-width: 80%;

    }
    li{
        list-style-type: none;
        width: 100%;
    }
    /* Specials*/
    main .special{
        display: block;
        width: 100%;
        grid-column: 2/8;
        background-color: #DEFCF9;
    }


    /* join*/
    #join{
        display: block;
        grid-column: 2/7;

    }
}

