@media only screen and (min-width: 32.5em) {
    body{
        line-height: 1.5;
        
    }
    h1{
        font-size: 28px;
    }
    header img {
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        border-radius: 10px 10px 10px 10px;
    }
    header{
        border-radius: 10px 10px 0px 0px;
        display: grid;
        text-align: center;
        grid-template-columns: 30% 70%;
        grid-template-rows: 80% 20%;
        }

    /*main{
        display: grid;
        width: 100%;
        margin-bottom: 1rem;
        }*/

    footer{
        display: block;
    }    
    nav a {
        font-size: 2rem;
        
    }
    nav a:hover {
        color: black; 
    }
    #media{
        grid-column: 1/3;
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    .media{
        align-content: center;
        display: flex;
        flex-direction: row;
        margin: 0 15px 0 15px;
        background-color: none;
    }

    /*Table*/
    table{
        align-self: center;
        width: 100%;
    
    }
    .table{
        background-color: black;
        margin-top: 5em;
    }
    thead {
        font-size: 150%;
        background-color: #362FD9;
        color: white;
    }
    tbody{
    }
    th{
        margin: 1em;
        text-align: center;
    }
    td{
        padding: .5em 1em .5em 1em;
        border: none;
    }
    #price{
        text-align: right;
    }
    #call{
        text-align: center;
    }
    
}

