@media only screen and (min-width: 32.5em) {
    body{
        line-height: 1.5;
        
    }
    header img {
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        border-radius: 10px 10px 10px 10px;
    }
    header{
        border-radius: 10px 10px 0px 0px;
        display: flex;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        }
    main{
        display: grid;
        border: 4px solid #3C84AB;
        border-radius: 10px 10px 10px 10px;
        text-align: left;
        margin-bottom: 1rem;
    }

    main div{
        padding-left: 2rem;
    }

    footer{
        display: block;
    }    

    nav{
        padding:1em;
        margin: auto;
    }

    nav ul { 
        display: flex; 
    }
    nav ul li { 
        flex: 1 1 auto; 
    } 

    nav a {
        font-size: 1rem;
    }

    nav a:hover {
        background-color: #DEFCF9;
        color: black; 
        --d: 75%;
    }
    
    
}

