@media only screen and (min-width: 60em) {
    h1{ 
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.5rem;
    }
    body{
        line-height: 3;
    }
    header img {
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        /* float: left; */
        border-radius: 10px 10px 10px 10px;
    }
    header{
        border-radius: 10px 10px 0px 0px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        }

    footer{
        display: grid;
        grid-template-columns: 200px 1fr;
    }    

    nav{
        padding: auto;
        margin: auto;
    }

    nav a {
        font-size: 1.1rem;
    }
    
}

