*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Indie Flower', cursive;
    /*border: solid 1px black;*/
}
h1{
    Font-size: 34px
}
h2{
    Font-size: 28px
}
h3{
    Font-size: 24px
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    Font-size: 24px;
}
.colors, .nav-bar{
    background-color: #7EA089;
}
.colors, .border{
    background-color: #DD7E93;
}
.colors, .background{
    background-color: white;
}
.colors, .link{
    background-color: #D5A18E;
}
.colors, .misc{
    background-color:  #D5A18E;
}





header{
    /*border: solid 1px black;*/
    display: grid;
    grid-template-columns: 1fr .75fr;
    grid-template-rows: 1fr .5fr;
    background-color: #7EA089;
    max-height: 150px;
    height: 150px;
    width: 100%;
    border: solid #DD7E93 5px;
    align-items: center;
    justify-items: center;
}
header picture{
    grid-column: 1;
    grid-row:1/3;
}
header picture img{
    height: 140px;
}
nav{
    opacity: .9;
    border-radius: 10px;
    grid-template-rows: 1;
}
.nav-bar{
    display: grid;
    height: 70px;
    grid-column: 2;
    grid-row: 1;
    background-color:#7EA089 ;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child{
    display: block;
    font-size: 3rem;
}
.navigation li{
    display: none;
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
}
.responsive{
    background-color: #7EA089;
    opacity: 100%;
    border-radius: 10px;
}
.responsive li{
    font-family: 'Tangerine', cursive;
    display: block;
    flex-direction: row;
    margin: 10px;
}
li a{
    text-decoration-line: none;
    color: black;
    font-size: 2rem;
}
a:hover{
    text-decoration-line:underline;
}
.hamburger-menu{
    background-color: #7EA089;
}
div.media{
    display: flex;
    grid-column: 2;
    grid-row: 2;
}
div.media div{
    margin: 20px;
    height: 5px;
}





main{
    /*border: solid 1px black;*/
    display:grid;
    grid-template-rows: 1fr 1fr 1fr .5fr 1fr;
    justify-items: center;}
main #areaDetails{
    grid-row: 1;
    border: solid 1px;
    width: 90%;
    margin: auto;
}
#areaDetails picture img{
    width: 100%;
}
picture #details{
    display: none;
}
main .counter{
    grid-row: 2;
    width: 80%;
    height: fit-content;
    font-size: 18px;
    text-align: center;
    background-color: #DD7E93;
    border-radius: 10px;
    margin-top: 2.5rem;
}
.slideshow{
    display: flex;
    grid-row: 3;
    width: 90%;
    height: fit-content;
    position:relative;
    align-content: center;
    margin-top: 2.5rem;
}
.slideshow-img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 280px;
    display: block;
}
.freshLink{
    grid-row: 4;
    text-align: center;
    width: 80%;
    height: min-content;
    background-color: #D5A18E;
    border-radius: 15px;
    transition: all 0.4s;
}
.freshLink:hover{
    transform: scale(1.2);
}
.weather{
    grid-row: 5;
    margin-top: 2.5rem;
}
footer{
    background-color: #DEC3BE;
    border: solid #DD7E93 5px ;
    margin: 15px;
    grid-row: 3;
}