@media only screen and (min-width: 825px) {


    header picture{
        grid-column: 1;
    }
    header picture img{
        height: 140px;
    }
    div.media{
        display: flex;
        flex-direction: column;
        grid-column: 3;
    }
    div.media div{
        margin: 20px;
    }
    .nav-bar{
        display: grid;
        height: 105px;
        grid-column: 2;
        background-color:#7EA089 ;
    }
    .navigation{
        display: inline-flex;
        align-items: center;
        justify-items: center;

    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
        display: block;
        margin: 1rem;
        width: max-content;
    }
    .navigation li a{
        color: black;
        font-size: 4rem;
    }



    #areaDetails picture #details p{
        font-size: 1.5em;  

    }










}




