@media only screen and (min-width: 825px) {


    header picture{
        grid-column: 1;
    }
    header picture img{
        height: 140px;
    }
    div.media{
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 1/3;
        justify-content: center;
        align-content: center;
    }
    .nav-bar{
        display: grid;
        height: 105px;
        grid-column: 2;
        background-color:#7EA089 ;
    }
    .navigation{
        display: inline-flex;
        align-items: center;
        justify-items: center;

    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
        display: block;
        margin: 1rem;
        width: max-content;
    }
    .navigation li a{
        color: black;
        font-size: 4rem;
    }

    main{
        grid-template-rows: 1fr .25fr .25fr 1.125fr .5fr 1fr;
    }

    #areaDetails picture #details p{
        font-size: 1.5em;  

    }

    .slideshow{
        max-width: 50%;
    }
    .slideshow picture img{
        max-height: 800px;
        padding: auto;

    }








}




