@media only screen and (min-width: 520px) {

    
    header{
        /*border: solid 1px black;*/
        display:grid;
        grid-template-columns: 1fr 3fr .5fr;
        grid-template-rows: none;
    }

    
    .nav-bar{
        display: grid;
        height: 105px;
        grid-column: 2;
        grid-row: 1;
        background-color:#7EA089 ;
    }

    .navigation li:first-child{
        font-size: 3rem;
    }
    .navigation li{
        font-size: 3rem;
    }

    li a{
        font-size: 4rem;
        box-shadow: 15px;
    }

    div.media{
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 1;
    }


    #areaDetails picture{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }
    #areaDetails picture img{
        grid-column: 1/3;
        grid-row: 1;
    }

    #areaDetails picture #details{
        display: block;
        grid-column: 1/3;
        grid-row: 1;
        background-color: #DD7E93;
        opacity: .9;
        width: 95%;
        height: auto;
        border-radius: 1em;
        text-align: left;
        padding: 5%;

    }
    #areaDetails picture #details p{
        font-size: 1.2rem;  
        font-weight: 800;

    }

    main .counter{
        height: fit-content;
        font-size: 3em;
        text-align: center;
        background-color: #DD7E93;
        border-radius: 10px;
        margin-top: 2.5rem;
    }
    
    


    /*Footer elements*/
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        justify-items: center;
        align-items: center;

    }
    footer .address{
        grid-column: 1;
        grid-row: 1;
        padding: .2em;
        /*border: solid 2px #DD7E93;*/
        text-align: center;
    }
    .address p{
        font-size: 18px;
    }
    footer .hours{
        grid-column: 2;
        grid-row: 1;
        padding: .2em 0 .2em;
        /*border: solid 2px #DD7E93;*/
        text-align: center;
    
    
    }
    .hours p{
        font-size: 18px;
    }
    footer .map{
        grid-column: 3;
        grid-row: 1;
        /*border: solid 2px #DD7E93;*/
        width: 220px;
        height: 145px;
    
    }
    .map img{
        width: 100%;
    }

    main.freshPage{
        align-items: center;
        justify-items: center;
    }

    form fieldset{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 80%;
        justify-items: center;
        align-items: center;
        padding: 0 3rem 0 3rem;
        margin: 5rem 0 5rem;
        background-color: #7EA089;
        border-radius: 15px;
    }
    

    footer.freshFoot{
        justify-items: center;
        align-items: center;
    }
    
}