main{
    align-self: center;
    justify-self: center;
    max-width: 80%;
    background-color: black;
}
table{
    align-self: center;
    width: 100%;

}
thead {
    font-size: 150%;
    background-color: #362FD9;
    color: white;
}
tbody{
}
th{
    margin: 1em;
    text-align: center;
}
td{
    padding: .5em 1em .5em 1em;
}
#price{
    text-align: right;
}
#call{
    text-align: center;
}
tbody tr:nth-child(odd) {
	background-color: lightblue;
}
tbody tr:nth-child(even) {
	background-color: white;
}
