*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --h2-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --h1-font: 'Crimson Pro', serif;
}

body {
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    height: auto;
    background-image: url("../images/perryville_backgroundOlive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:.15rem 2rem;
    background-attachment: fixed;
    padding: 1em;

}

/* .background{
    opacity: .6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;

} */

h1 {
    font-size: 34px;
    padding: 0.25rem;

}

h2 {
    font-size: 28px;
    text-shadow: 2px 2px 5px rgb(88, 99, 73);
    margin-bottom: .5rem;
    padding: 0.75rem;

}

h3 {
    font-size: 24px;
    padding: 1rem;
    /*background-color: #bb0835;*/

}

p{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 20px;
    padding: 1rem;
    
}

main{
grid-template-columns: 1fr ;
grid-template-rows: 18% 18% 18% 18% 28%;
}


header, main, footer {
    padding: 0.75rem;
    max-width: inherit;
    margin: 0 auto;
}

header {
    border: 3px solid rgb(24, 22, 143);
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr .5fr;
}

header img {
    width: 200px;
    height: auto;
    margin-bottom: .5rem;
    align-items: center;
}
header #name{
    grid-row: 2;
}

header #date{
    grid-row: 3;
}
nav div .media{
    padding:1rem;
    opacity: .9;
    align-items: center;
    display: block;

}

footer{
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(24, 22, 143);
    padding: .5rem;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

footer div{
    display: inline-block;
    width: 100%;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}
nav{
    margin: 0 auto;
    max-width: 760px;
    background-color: rgb(216, 216, 216);
    padding: 1rem;
    opacity: .9;
    border-radius: 10px;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child{
    display: block;
    font-size: xx-large;
}
.navigation li{
    display: none;
}

.responsive li{
display: block;
}

a:link{
    color: black;
}

a:visited{
    color:rgb(24, 22, 143);
}

#hero{
    grid-row: 1;
    border: 4px solid gray;
    margin: 2%;
    background-color: lightgray; 
    opacity: .9;
    text-align: center;
}

#hero img{
    max-width:50%;
}

#events{
    grid-row: 2;
    border: 4px solid gray;
    margin: 2%;
    background-color: lightgray;
    text-align: center;
    opacity: .8;
}

#weather{
    grid-row: 3;
    border: 4px solid gray;
    margin: 2%;
    background-color: lightgray;
    text-align: center;
    opacity: .8;


}
#join{
    grid-row: 3;
    border: 4px solid gray;
    margin: 5px;
    background-color: lightgray;
    text-align: center;
    opacity: .8;


}
#news{
    grid-row: 4;
    border: 4px solid gray;
    margin: 2%;
    background-color: lightgray;
    text-align: center;
    opacity: .8;


}
.spotlights{
    grid-row: 5;
    border: 4px solid gray;
    margin: 2%;
    background-color: lightgray;
    text-align: center;
    opacity: .8;


}

