@media only screen and (min-width: 60em) {
    h1{ 
        font-size: 2rem;
        line-height: 1.5rem;
    }
    h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    body{
        line-height: 3;
    }
    header{
        width: 100%;
        display: grid;
        grid-template-columns: 15fr 10fr 10fr;
        grid-template-rows: 1fr .25fr .25fr;

    }
    header picture{
        grid-column: 1;
        grid-row: 1/2;
    }

    header picture img {
        box-shadow: 0 10px 30px rgb(53, 40, 37);
        border-radius: 10px 10px 10px 10px;
    }

    header #org{
        grid-column: 1;
        grid-row: 2;
    }
    header nav ul li{
        padding: 1rem;
    }
    header #banner {
        grid-column: 2/4;
        grid-row: 2;
        width: auto;
    }

    #date {
        border: 2px solid;
        grid-column: 1/8;
        grid-row: 3;
    }

    .navigation{
        display: flex;
        grid-column: 3;
        grid-row: 1;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li a{
        color: black;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    footer #address{
        display: grid;
        grid-template-columns: .75fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: min-content;
    }   
     footer #info {
        grid-column: 2;
     }
     footer #street {
        grid-column: 3;
     }
    footer div img{
        margin-left: 5rem;
        text-align: center;
    }
    #hero{
        grid-column: 2 / 4;
        grid-row: 1 / 3;

    }
    #events{
        grid-column: 1;
        grid-row: 1;
    }
    #weather{
        grid-column: 1;
        grid-row: 2;
    }
    #join{
        grid-column: 1;
        grid-row: 3;
    }
    #news{
        grid-column: 2 / 4;
        grid-row: 3;
    }
    .spotlights{
        display: grid;
        grid-column: 4;
        grid-row: 1/4;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #sp1{
        grid-row: 1;
        grid-column: 1;
        border: 4px solid gray;
        margin: 2%;
        
    }
    #sp2{
        grid-row: 2;
        grid-column: 1;
        border: 4px solid gray;
        margin: 2%;
        
    }

    #sp3{
        grid-row: 3;
        grid-column: 1;
        border: 4px solid gray;
        margin: 2%;

    }

}

